@import 'variables';

// ------------------------------------------------------------------------ //
// --------------------------- RECENT GAMES CARD -------------------------- //
[class*="recent-game-card"] {
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 15px 40px;
  cursor: pointer;
  margin: 10px 0;
  display: flex;

  .game-scores {
    font-size: 1.5em;
    text-align: center;
  }
  .game-kda {
    text-align: center;
  }
  .game-cs-gold {
    text-align: center;
  }

  &[class*="--victory"] {
    background-color: $color-victory;
  }
  &[class*="--defeat"] {
    background-color: $color-defeat;
  }

  [class^="group"] {
    &[class*="--game-information"] {
      width: 10%;

      p {
        text-transform: capitalize;
        margin: 0;
      }
    }

    &[class*="--icon"] {
      width: 10%;

      .champion {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -30px;
      }
    }

    &[class*="--keystones"] {
      flex-direction: row;
      display: flex;
      width: 15%;

      .keystone-1 {
        background-color: #000;
      }
      .keystone-2 {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &[class*="--stats"] {
      width: 10%;
    }

    &[class*="--items"] {
      flex-wrap: wrap;
      display: flex;
      width: 20%;

      .icon--item {
        background-color: rgba(0, 0, 0, 0.2);
        height: 40px;
        width: 40px;
        margin: 3px;

        &:nth-of-type(4) {
          position: relative;
          top: 20px;
        }
      }
    }

    &[class*="--summoners"] {
      flex-direction: row;
      display: flex;
      width: 35%;

      .group--subgroup {
        width: 50%;
      }

      .other-summoner {
        align-items: center;
        margin-left: 5px;
        display: flex;

        p {
          margin: 0;
        }

        .icon--other-summoners {
          margin: 2px 5px;
          height: 30px;
          width: 30px;
        }
      }
    }

    &[class*="--subgroup"] {
      display: inline-block;
    }
  }
}