@import 'variables';

// ------------------------------------------------------------------------ //
// --------------------------- RECENT GAMES CARD -------------------------- //
[class*="recent-game-card"] {
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;

  &[class*="--victory"] {
    background-color: $color-victory;
  }
  &[class*="--defeat"] {
    background-color: $color-defeat;
  }

  [class*="group"] {
    &[class*="--game-information"] {
      p {
        margin: 0;
      }
    }

    &[class*="--icon"] {
      .champion {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -30px;
      }
    }

    &[class*="--items"] {
      flex-wrap: wrap;
      display: flex;
      width: 200px;

      .icon--item {
        height: 40px;
        width: 40px;
        margin: 3px;
      }
    }

    &[class*="--subgroup"] {
      display: inline-block;
    }

    &[class*="--summoners"] {
      .other-summoner {
        p {
          display: inline-block;
          margin: 0;
          vertical-align: center;
        }
        .icon--other-summoners {
          display: inline-block;
          height: 30px;
          width: 30px;
          margin: 5px;
        }
      }
    }
  }
}