@import 'variables';

// ------------------------------------------------------------------------ //
// --------------------------- SUMMONER SHOW ------------------------------ //
.summoner-show-page {
  [class*="section"] {
    justify-content: space-between;
    padding: 30px 50px;
    display: flex;
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 30px 20px;
    }

    &[class*="--intro"] {
      position: relative;
      padding-top: 60px;
      color: #fff;
      @include background-image-styles;
      background-size: cover;

      &:after {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        z-index: 1;
        left: 0;
        top: 0;
      }

      .container--narrow--flex {
        position: relative;
      }
    }
    &[class*="--kda-champs"] {
      .container--narrow--flex {
        align-items: center;
      }
    }

    [class*="group"] {
      &[class*="--info"] {
        flex: 2;

        .name {
          font-size: 2em;
          @media screen and (max-width: $breakpoint-mobile) {
            margin-bottom: 10px;
            font-size: 1.5em;
          }
        }
        .rank {
          font-size: 1.25em;
          margin-bottom: 0;
          @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1em;
          }
        }
      }

      &[class*="--icon"] {
        position: relative;
        margin-right: 50px;
        height: 95px;
        width: 90px;
        @media screen and (max-width: $breakpoint-mobile) {
          margin-right: 15px;
          height: 75px;
          width: 70px;
        }

        > img {
          position: absolute;
          height: 106px;
          z-index: 1;
          left: -8px;
          top: -8px;
          @media screen and (max-width: $breakpoint-mobile) {
            height: 85px;
          }
        }

        .icon {
          position: absolute;
          border-radius: 0;
          left: 0;
          top: 0;
        }

        .level {
          border: 1px solid gold;
          line-height: 1.5em;
          text-align: center;
          background: white;
          position: absolute;
          bottom: -25px;
          height: 20px;
          width: 40px;
          color: #000;
          left: 25px;
          z-index: 2;
          @media screen and (max-width: $breakpoint-mobile) {
            left: 15px;
          }
        }
      }

      [class*="icon"] {
        border-radius: 50%;
        background: gray;
        height: 90px;
        width: 90px;
        @include background-image-styles;
        @media screen and (max-width: $breakpoint-mobile) {
          height: 70px;
          width: 70px;
        }

        &[class*="--smaller"] {
          height: 50px;
          width: 50px;
          margin: 5px;
          @media screen and (max-width: $breakpoint-mobile) {
            height: 40px;
            width: 40px;
          }
        }
      }

      .rank-group, .position-group {
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
        .individual {
          .title {
            font-size: $font-small;
            text-align: center;
            margin: 0;
          }
          .image {
            height: 50px;
          }
        }
      }

      .win-loss {
        text-align: center;
        background: $ruby-red;
        display: flex;
        height: 17px;
        width: 130px;

        > p {
          line-height: 1.5em;
          font-size: 0.8em;
        }

        .win-count {
          background: $ruby-yellow;
          height: 100%;
          color: #000;
        }
        .loss-count {
          color: #fff;
        }
      }

      .kda {
        text-align: center;
        margin-top: 10px;
      }

      .most-played-champion {
        float: left;
        .win-loss-count {
          font-size: $font-small;
          text-align: center;
        }
      }
    }
  }
}