// ------------------------------------------------------------------------ //
// --------------------------- VARIABLES ---------------------------------- //
$ruby-red: #f54336;
$ruby-dark-red: #cf372c;
$ruby-yellow: #ffd83f;

$color-victory: #5CC6D7;
$color-defeat: #E5544E;

$breakpoint-mobile: 768px;

$font-small: 0.7em;


// ------------------------------------------------------------------------ //
// --------------------------- MIXINS ------------------------------------- //
@mixin background-image-styles() {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin card-hover-styles() {
  &:hover {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .3), 0 6px 10px 0 rgba(0, 0, 0, .3), 0 1px 18px 0 rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
  }
}