// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ruby-red: #f54336;
$ruby-dark-red: #cf372c;
$ruby-yellow: #ffd83f;

$breakpoint-mobile: 768px;

@mixin background-image-styles() {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin card-hover-styles() {
  &:hover {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .3), 0 6px 10px 0 rgba(0, 0, 0, .3), 0 1px 18px 0 rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
  }
}

// ------------------------------------------------------------------------ //
// --------------------------- LAYOUT ------------------------------------- //
.content-center {
  text-align: center;
  max-width: 600px;

  > .group {
    margin: 50px auto 30px auto;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    max-width: 100%;
  }
}

// ------------------------------------------------------------------------ //
// --------------------------- FORMS -------------------------------------- //
.mdl-textfield__input {
  border: 1px solid rgba(0, 0, 0, .12) !important;
  padding: 10px 10px 7px 10px !important;
}

.mdl-textfield__label {
  top: 30px !important;
  padding: 0 10px;

  > .material-icons {
    position: absolute;
    right: 10px;
    top: -3px;
  }
}

.mdl-button[type="submit"] {
  display: block;
  margin: auto;
}

[class*="button"] {
  &[class*="--follow"] {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

// ------------------------------------------------------------------------ //
// --------------------------- SUMMONER CARD ------------------------------ //
.summoner-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  justify-content: space-between;
  background: $ruby-dark-red;
  transition: box-shadow .3s;
  text-decoration: none;
  align-items: center;
  position: relative;
  border-radius: 2px;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  width: 100%;
  @include card-hover-styles;

  @media screen and (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
  }

  .summoner-icon {
    width: 75px;
    height: 71px;
    border-radius: 50%;
    margin: 0 15px 0 10px;
    @include background-image-styles;
  }

  [class*="group"] {
    width: calc((100% - 75px) / 3);

    @media screen and (max-width: $breakpoint-mobile) {
      width: 50%;
    }

    p {
      margin: 0;
    }

    .summoner-name {
      font-size: 1.25em;
    }

    .summoner-level {
      opacity: 0.7;
    }

    .summoner-rank {
      display: inline-block;
      margin: 0 15px 5px 0;
    }

    .summoner-lp {
      display: inline-block;
      opacity: 0.7;
    }

    .summoner-win-loss {
      text-align: center;
      background: #fff;
      display: flex;
      height: 17px;
      width: 130px;
      color: #000;

      > p {
        line-height: 1.5em;
        font-size: 0.8em;
      }

      .summoner-win-count {
        background: $ruby-yellow;
        height: 100%;
      }
    }

    .summoner-mastery-champion {
      margin: 0 5px;
      float: left;

      .summoner-mastery-champion-level {
        text-align: center;
      }
      .summoner-mastery-champion-icon {
        @include background-image-styles;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
      .summoner-mastery-champion-points {
        text-align: center;
        font-size: 0.7em;
      }
    }
  }
}

// ------------------------------------------------------------------------ //
// --------------------------- SUMMONER SHOW ------------------------------ //
.summoner-show-page {
  [class*="section"] {
    justify-content: space-between;
    display: flex;

    &[class*="--intro"] {
      color: #fff;
      background: gray;
      position: relative;
      padding: 50px 50px 30px 50px;
      // if we are gonna include an image
      //@include background-image-styles;
    }

    [class*="group"] {
      &[class*="--icon"] {
        position: relative;
        margin-right: 50px;
        width: 90px;

        .level {
          border: 1px solid gold;
          margin: -15px auto;
          line-height: 1.5em;
          text-align: center;
          background: white;
          display: block;
          height: 20px;
          width: 40px;
          color: #000;
        }
      }

      [class*="icon"] {
        width: 90px;
        height: 90px;
        background: white;
        border-radius: 50%;
        @include background-image-styles;

        &[class*="--smaller"] {
          width: 50px;
          height: 50px;
        }
      }

      &[class*="--info"] {
        flex: 2;

        .name {
          font-size: 2em;
        }
        .rank {
          font-size: 1.25em;
        }
      }
    }
  }
}