// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// ------------------------------------------------------------------------ //
// --------------------------- LAYOUT ------------------------------------- //
.content-center {
  text-align: center;
  max-width: 600px;

  > .group {
    margin: 50px auto 30px auto;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    max-width: 100%;
  }
}

[class*="container"] {
  &[class*="--narrow"] {
    max-width: 1200px;
    margin: auto;
    z-index: 10;
    width: 100%;

    &[class*="flex"] {
      justify-content: space-between;
      display: flex;
    }
  }
}

.full-width {
  width: 100%;
}

// ------------------------------------------------------------------------ //
// --------------------------- HEADER ------------------------------------- //
.app-logo {
  margin-left: -100px;
  position: absolute;
  text-align: center;
  width: 200px;
  left: 50%;

  > img {
    margin-right: 5px;
    height: 35px;
  }

  .app-name {
    letter-spacing: 0.05em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
  }
}

.custom-search-header {
  input {
    border: none !important;
    padding: 4px 0 !important;
  }
  &.is-focused {
    input {
      border-bottom: 1px solid rgba(0,0,0,.12) !important;
    }
  }
}


// ------------------------------------------------------------------------ //
// --------------------------- FORMS -------------------------------------- //
.mdl-textfield__input {
  border: 1px solid rgba(0, 0, 0, .12) !important;
  padding: 10px 10px 7px 10px !important;
}

.mdl-textfield__label {
  top: 30px !important;
  padding: 0 10px;

  > .material-icons {
    position: absolute;
    right: 10px;
    top: -3px;
  }
}

.mdl-button[type="submit"] {
  display: block;
  margin: auto;
}

[class*="button"] {
  &[class*="--follow"] {
    position: absolute;
    right: -15px;
    color: #fff;
    top: -50px;
  }
}


// ------------------------------------------------------------------------ //
// --------------------------- Sign In/Sign Up Page ----------------------- //
.google_button {
    display: block;
    float: right;
    margin-right: 95px;
    margin-top: 10px;
    width: 50%;
}

.user_info {
  text-align: center;
  margin-top: 50px;
}

.user_info > p {
  font-size: 20px;
}


// ------------------------------------------------------------------------ //
// --------------------------- Alert messages ----------------------------- //
.message {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  position: absolute;
  padding: 17px 25px;
  text-align: center;
  width: 500px;
  margin: auto;
  z-index: 10;
  color: #fff;
  top: 70px;
  right: 0;
  left: 0;
}


@import 'summoner-card';
@import 'summoner-show';
@import 'recent-game-card';