%div{:class => "mdl-grid"}

  %div{:class => "mdl-cell mdl-cell--3-col mdl-cell--0-col-phone"}

  %div{:class => "mdl-cell mdl-cell--6-col mdl-cell--12-col-phone"}
    = link_to "I have an account", auth_index_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect"
    %a{:class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"} I am a new user

    = form_tag User, :method => :post do
      %div{:class => "mdl-textfield mdl-js-textfield"}
        %input{:class => "mdl-textfield__input", :type => "text", :id => "user_email"}
        %label{:class => "mdl-textfield__label", :for => "user_email"} email address

      %div{:class => "mdl-textfield mdl-js-textfield"}
        %input{:class => "mdl-textfield__input", :type => "password", :id => "user_password"}
        %label{:class => "mdl-textfield__label", :for => "user_password"} password

      %div{:class => "mdl-textfield mdl-js-textfield"}
        %input{:class => "mdl-textfield__input", :type => "password", :id => "user_password_confirm"}
        %label{:class => "mdl-textfield__label", :for => "user_password_confirm"} confirm password

      %input{:class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :type => "submit", :value => "Create account"}

  %div{:class => "mdl-cell mdl-cell--3-col mdl-cell--0-col-phone"}