%div{:class => "mdl-grid content-center"}
  %h3{:class => "full-width"} Favorite Summoners

  -@summonerInfo.each do |x|
    // following link intended for cucumber tests
    = link_to "Show summoner #{x[:name]}", summoner_show_path(x[:name]), :style => "visibility: hidden; position: absolute"

    = render :partial => 'partials/summoner_card', :locals => { :x => x }