%div{:class => "mdl-grid content-center summoner-show-page"}

    %div{:class => "section--intro"}
        %div{:class => "icon-group"}
            %div{:class => "icon"}
            %div{:class => "level"}

        %div{:class => "group"}
            %p{:class => "name"}
            %p{:class => "rank"}
            %p{:class => "lp"}

        %div{:class => ""}

        %a{:class => "mdl-button mdl-js-button button--follow"} Follow

    %div{:class => "section--kda-champs"}

    %div{:class => "section--recent-games"}