%div{:class => "summoner-show-page"}

    %div{:class => "section--intro"}
        %div{:class => "container--narrow--flex"}
            %div{:class => "group--icon"}
                %div{:class => "icon"}
                %p{:class => "level"} 37

            %div{:class => "group--info"}
                %p{:class => "name"} SKT T1 Faker
                %p{:class => "rank"} Platinum 3
                %p{:class => "lp"} 23 LP

            %div{:class => "group"}
                %div{:class => "icon--smaller"} rank
                %div{:class => "icon--smaller"} position

            %a{:class => "mdl-button mdl-js-button button--follow"} Follow

    %div{:class => "section--kda-champs"}

    %div{:class => "section--recent-games"}