%div{:class => "mdl-layout mdl-js-layout mdl-layout--fixed-header"}

  -#Header
  %header{:class => "mdl-layout__header"}
    %div{:class => "mdl-layout__header-row"}
      -#spacer to push rest to the right
      %div{:class => "mdl-layout-spacer"}

      -#start search form
      %div{:class => "mdl-textfield mdl-js-textfield mdl-textfield--expandable"}
        %label{:class => "mdl-button mdl-js-button mdl-button--icon", :for => "search-expandable"}
          %i{:class => "material-icons"} search
        %div{:class => "mdl-textfield__expandable-holder"}
          %input{:class => "mdl-textfield__input", :type => "text", :id => "search-expandable"}
          %label{:class => "mdl-textfield__label", :for => "search-expandable"} Search text

  -#Menu
  %div{:class => "mdl-layout__drawer"}
    %span{:class => "mdl-layout-title"} Ruby.gg
    %nav{:class => "mdl-navigation"}
      %a{:class => "mdl-navigation__link", :href => "#"} Link 1
      %a{:class => "mdl-navigation__link", :href => "#"} Link 2
    %nav{:class => "mdl-navigation"}
      %a{:class => "mdl-navigation__link", :href => "#"} Log in

  -#Main content
  %main{:class =>"mdl-layout__content"}
    %div{:class => "page-content"}
      -#Your content goes here