%div{:class => "mdl-grid"}

  %div{:class => "mdl-cell mdl-cell--3-col mdl-cell--0-col-phone"}

  %div{:class => "mdl-cell mdl-cell--6-col mdl-cell--12-col-phone"}
    %a{:class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"} I have an account
    %a{:class => "mdl-button mdl-js-button mdl-js-ripple-effect", :href => "/auth/create"} I am a new user

    = form_tag auth_index_path, :method => :post do
      %div{:class => "mdl-textfield mdl-js-textfield"}
        %input{:class => "mdl-textfield__input", :type => "text", :id => "user_email"}
        %label{:class => "mdl-textfield__label", :for => "user_email"} email address

      %div{:class => "mdl-textfield mdl-js-textfield"}
        %input{:class => "mdl-textfield__input", :type => "password", :id => "user_password"}
        %label{:class => "mdl-textfield__label", :for => "user_password"} ********

      %input{:class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :type => "submit", :value => "Log in"}

  %div{:class => "mdl-cell mdl-cell--3-col mdl-cell--0-col-phone"}